* {
  color: rgb(104, 113, 213);
}

h1 {
  color: rgb(183, 29, 29);
}
p {
  color: brown;
}
span {
  color: orange;
}
.my-colors {
  color: #1cc449;
}
#venue {
  color: rgb(76, 11, 11);
}
[data-email="email"] {
  color: #5e0c50;
}
h1 {
  color: pink;
  text-align: center;
  font-size: xx-large;
  text-transform: uppercase;
  font-weight: 900;
}
ol > li {
  color: aquamarine;
}
body {
  text-align: center;
}
p {
  text-align: center;
  line-height: 1.5;
}
.happy-monkey-regular {
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}
